.dataTableStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toolsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.tableContainer {
  overflow: scroll;
  border-radius: 15px;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  min-width: 700px;
  border-radius: 15px;
}

.thead {
  font-size: 14px;
  background-color: orange;
}

.tbody {
  font-size: 12px;
}

.tableRow:nth-child(odd) {
  background-color: #f1f1f1;
}

.tableRow:nth-child(even) {
  background-color: #fbfbfb;
}

.tableRow:hover {
  background-color: #dfdfdf;
}

.entries {
  display: flex;
  gap: 8px;
}

.entriesFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.entriesFooter div {
  display: flex;
  gap: 8px;
}

.entriesFooter div p {
  font-style: italic;
  color: #dfdfdf;
}

.btnPrevNext {
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPage {
  cursor: pointer;
  padding: 6px 12px;
  border: 1.5px solid #12002b;
  border-radius: 6px;
}